h1 > *
{
  vertical-align: middle;
}

h1 > img
{
  margin-left: 10pt;
  margin-right: 10pt;
}

h1.tt-error,
h2.tt-error,
h3.tt-error,
h4.tt-error
{
  color:red;
}

.tt-form-instruction 
{
  font-weight: bold;
}

.tt-form-note
{
  font-style: italic;
  color: #808080;
}

.tt-form
{
  max-width: 8in;
  margin-left: 2em;
  margin-right: 2em;
}


.tt-header input.tt-invalid,
.tt-form input.tt-invalid
{
  border: 2px solid red;
}

.tt-header input.tt-pending,
.tt-form input.tt-pending
{
  border: 2px solid orange;
}

.tt-form p.tt-invalid,
.tt-form p.tt-pending
{
  margin-top: 0;
  font-size: small;
  text-align: right;
}

.tt-form p.tt-invalid
{
  color: red;
}

.tt-form p.tt-pending
{
  color: orange;
}

.tt-ui-label-cell
{
  font-weight:bold;
}

#user_id_info
{
  margin-left:2em;
  margin-top:1em;
}


br.nospace
{
  margin: 0 0;
}

.tt-indent
{
  margin-left: 1em;
}

.tt-note
{
  font-style:italic;
}

div.tt-nospace > p:not(:first-child)
{
  margin-top: 0;
}

div.tt-nospace > p:not(:last-child)
{
  margin-bottom: 0;
}


div.tt-noscript
{
  font-family: sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-size: 120%;
  color: white;
  background-color: brown;
  padding: 5px 0;
}

p.tt-noscript
{
  color: brown;
}

@media screen and (max-width: 599px)
{
  .tt-header
  {
    background-color: #e0e0e0;
    width:100%;
    overflow: auto;
  }
  div.tt-body-div
  {
    margin-left: 0.5em;
  }

}
@media screen and (min-width:600px)
{
  .tt-header
  {
    background-color: #e0e0e0;
    width:100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
  }
  .tt-title
  {
    margin-top: 2em;
  }
  div.tt-body-div
  {
    margin-left: 2em;
  }
}

span.tt-user-info
{
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
  margin-right: 1em;
}

#tt_user_name,
#tt_user_email
{
  float:right;
}

span.tt-user-info span
{
  font-weight: normal;
}

#tt_landscape_note
{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  background-color: #c04060;
  z-index: 1000;
  overflow: auto;
  
  text-shadow: none;
  color: white;
  font-weight: bold;
  font-size: x-small;
}

.tt-survey-form
{
  margin-left: 1em;
  margin-right: 1em;
}

.tt-survey-label
{
  margin-bottom: 5px;
}

div.tt-collapsible
{
}

div.ui-collapsible-content
{
  padding-bottom: 1em;
}

div.tt-non-collapsible
{
}

span.tt-role-option
{
  white-space: nowrap;
  margin-right: 1em;
}

span.tt-role-bool
{
  white-space: nowrap;
  margin-left: 2em;
}

input[disabled]+label,
input:disabled+label
{
  color:#ccc;
  font-style:italic;
}

label.tt-role-option
{
  display:inline;
}

label.tt-role-bool
{
  display:inline;
  margin-left: 0.5em;
}

div.tt-role-secondary-options
{
  margin-left:1em;
}

span.tt-role-secondary-option
{
  font-style: italic;
}

@media screen and (max-width:899px)
{
  div.tt-role-box
  {
    margin-top: 8px;
  }
  div.tt-role-label
  {
    margin-left:1em;
  }
  div.tt-role-options
  {
    margin-left:2em;
  }

  div.tt-qualification-text
  {
    margin-left:4em;
  }
}

@media screen and (min-width:900px)
{
  div.tt-role-box
  {
    margin-top: 4px;
  }
  div.tt-role-label
  {
    float:left;
    width:35%;
  }
  div.tt-role-label span
  {
    float:right;
    margin-right:1em;
  }
  div.tt-role-options
  {
    margin-left:35%;
  }

  div.tt-qualification-text
  {
    margin-left:35%;
    max-width:600px;
  }
}

div.tt-free-text-box,
div.tt-comment-box
{
  margin-top:2em;
}

.tt-free-text-label,
.tt-comment-label
{
  font-weight: bold;
}

.tt-free-text-label,
.tt-comment-label
{
  font-weight: bold;
  margin-top:1em;
}

.tt-free-text-anon
{
  float: right;
  font-size: smaller;
  font-weight: bold;
}

textarea.tt-free-text,
textarea.tt-comment
{
  margin-left:1em;
  width:98%;
}

.tt-xx-small
{
  font-size: xx-small;
}

.tt-x-small
{
  font-size: x-small;
}

.tt-small
{
  font-size: small;
}

.tt-xx-large
{
  font-size: xx-large;
}

.tt-x-large
{
  font-size: x-large;
}

.tt-large
{
  font-size: large;
}

.tt-survey-bold
{
  font-weight: bold;
}

.tt-survey-italic
{
  font-style: italic;
}

.tt-level-2
{
  margin-left: 1em;
  margin-right: 2em;
}

.tt-level-3
{
  margin-left: 2em;
  margin-right: 4em;
}

.tt-level-4
{
  margin-left: 3em;
  margin-right: 6em;
}

.tt-level-5
{
  margin-left: 4em;
  margin-right: 8em;
}
