h1 > *
{
  vertical-align: middle;
}

h1 > img
{
  margin-left: 10pt;
  margin-right: 10pt;
}

h1.tt-error,
h2.tt-error,
h3.tt-error,
h4.tt-error
{
  color:red;
}

.tt-form-instruction 
{
  font-weight: bold;
}

.tt-form-note
{
  font-style: italic;
  color: #808080;
}

.tt-form
{
  max-width: 8in;
  margin-left: 2em;
  margin-right: 2em;
}

.tt-form input.tt-invalid
{
  border: 2px solid red;
}

.tt-form input.tt-pending
{
  border: 2px solid orange;
}

.tt-form p.tt-invalid,
.tt-form p.tt-pending
{
  margin-top: 0;
  font-size: small;
  text-align: right;
}

.tt-form p.tt-invalid
{
  color: red;
}

.tt-form p.tt-pending
{
  color: orange;
}

.tt-ui-label-cell
{
  font-weight:bold;
}

#user_id_info
{
  margin-left:2em;
  margin-top:1em;
}


br.nospace
{
  margin: 0 0;
}
