div.ttr-login-block
{
  width: 50%;
  margin-left:2em;
}

input.ttr-invalid
{
  border: 2px solid red;
}

input.ttr-pending
{
  border: 2px solid orange;
}

input.ttr-valid
{
  border: 2px solid green;
}

#ttr-login-submit
{
  display:none;
}

table#tt-user-info-table
{
  width:auto;
  margin-left:2em;
}

table#tt-user-info-table tr
{
  width:5em;
}

table#tt-user-info-table .tt-bottom-border
{
  border-bottom:1px solid black;
}

div.tta-email-sent
{
  margin: 1em 0 1em 0;
  color:#0080a0;
}
div.tta-too-soon
{
  margin: 1em 0 1em 0;
  color:purple;
}
div.tta-no-email-address
{
  margin: 1em 0 1em 0;
  color:orange;
}
div.tta-email-failed
{
  margin: 1em 0 1em 0;
  font-weight:bold;
  color:red;
}
.tta-nosend-rationale
{
  font-size:90%;
  font-style:italic;
  color:#ff7000;
}

.tta-popup input
{
  width:20em;
}

.tta-popup .ui-input-text
{
  margin: 0 0 1.5em 0;
}

button.tta-ok
{
  float:right;
}

input.tta-invalid
{
  border: 2px solid red;
  color:red;
}
input.tta-pending
{
  border: 2px solid orange;
}

div.tta-list-header
{
  margin-top:1em;
  font-weight:bold;
}

div.tta-click-here
{
  margin-top:2px;
  margin-left:1em;
  margin-bottom:1em;
  font-style:italic;
}

div.tta-list
{
  margin-left:2em;
}

div.tta-name
{
  margin-top:0.2em;
}

div.tta-list-footer
{
  margin-top:0.7em;
  margin-left:3em;
  font-size:90%;
  font-style:italic;
  color:#ff7000;
}

span.tta-star
{
  color:#ff7000;
}
